body{
    margin : 0px;
    padding : 0px;
    display : grid;
    grid-template-columns: 300px 950px 275px;
    grid-template-rows: 180px 700px;
    
}

p{
    color : grey;
}

strong{
    font-size: larger;
}

hr,h3,h2,h5{
    margin : 0px;
}
.header{
    background-color: #FFFFFF;
    grid-column : 2 / 4;
    display: grid;
    grid-template-columns: 810px 325px;
    grid-template-rows: 60px 60px;
    padding:20px;
    gap:15px;
}

.sidebar{
    background-color: #1992D4;
    grid-row : 1 / 4;
    display : grid;
    grid-template-columns: 220px;
    grid-template-rows: 100px 350px 150px ;
    padding: 20px;
    gap : 30px;
    color : white;
}

.main{
    background-color: #E2E8F0;
    grid-column : 2/3;
    grid-row : 2/4;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 30px 230px 230px 230px; 
    gap : 20px;
    padding-left : 50px;
    padding-right : 20px;
    padding-top : 50px;
    padding-bottom : 50px;
}

.heading{
    background-color: #E2E8F0;
    grid-column: 1/3;
}

.right{
    background-color: #E2E8F0;
    display : grid;
    grid-column: 3/4;
    grid-row : 2/4;
    grid-template-columns: 230px;
    grid-template-rows:  30px 320px 30px 380px;
    padding-left : 0px;
    padding-right : 20px;
    padding-top : 50px;
    padding-bottom : 50px;
    gap : 10px;

}


.project{
    background-color: #FFFFFF;
    display:grid;
    grid-template-columns: 10px 380px;
    grid-template-rows: 155px 75px;
    border-radius : 8px;
    box-shadow: 2px 2px 5px grey;
}

.stripe{
    background-color: #F0B429;
    grid-row : 1/3;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.announcements, .trending{
    display : grid;
    grid-template-rows: 100px 100px 100px ;
    background-color: #FFFFFF;
    font-size: small;
    border-radius: 8px;
    padding : 5px;
    box-shadow:2px 2px 5px grey ;
}

.side{
    background-color: #1992D4;
    display : grid;
    grid-template-columns: 220px;
    grid-template-rows: 50px;
    gap : 10px;
    font-size: larger;

}

.item{
    background-color: #1992D4;
}

.ritem{
    background-color:#FFFFFF;
    padding:10px;
}

.pitem{
    background-color: #FFFFFF;
    padding:20px;
}

.bottom{
    background-color: #FFFFFF;
    display : grid;
    grid-template-columns: 80px 250px;
    grid-template-rows:  60px;
    gap:15px;
}


.side:first-child{
    font-size:xx-large;
}

.click{
    display:flex;
    justify-content: flex-end;
    gap : 20px;
}


.titem{
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 10px;
    display : flex;
}

img{
    width: 50px;
    margin-right: 10px; 
}

.fa-search{
    margin-left: 50px;
}
.search{
    margin-left: 30px;
    width : 500px;
    height : 25px;
    border : none;
    border-radius: 15px;
    background-color: #E2E8F0;
}

.top{
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.kitem{
    background-color: #FFFFFF;
    margin-left: 15px;
}

.micon{
    width: 60px;
}

.last{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button{

    border : none;
    width: 80px;
    padding : 8px;
    background-color: #1992D4;
    color: #FFFFFF;
    font-size:medium;
    border-radius: 18px;
}



